<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>panot</title>
  </head>
  <body>

    <center>
        <a class="btn btn-light" href="/home" role="button">Home</a>
        <a class="btn btn-light" href="/explore" role="button">Explore</a>
        <a class="btn btn-light" href="/about" role="button">About Us</a>
        <a class="btn btn-light" href="/signup" role="button">Signup</a>
        <a class="btn btn-light" href="/login" role="button">Login</a>
        <hr>
        <h1>Mission                                                      </h1><br>
        <p>To lift up, preserved and prtect all tourist spots in the philippines, mostly the unpopular tourist spots</p><br><br>
        <h1>Vision                                                       </h1><br>
        <p>All tourist spot and delicacies will be knowned throughout the world</p><br>
        <h4>One of our Ideals</h4><br>
        <p>Our Agency will have a direct contact on the local community rather than to the private sectors. <br>
          This aims to prevent the mistreated and fooling of private sectors(governments) to the local community</p>
          <br> <h6>The other ideals will be explained</h6>
    
        <br><hr><h4>Comments: </h4>
        <hr><h5>Edwards Snowden</h5><br>
        <p>This  site is so interesting and very knowledgable.</p><hr>
        <h5>Yami Yaguchi</h5><br>
        <p>This app helps me discover alot of new places in the Philippines.</p><hr>
        <br><br><br>
        <p>You can contact us at 09994058451 for more info.<br> or email us at TIPHackathonRepresentative@tip.edu.ph</p>
        </center>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  </html>