{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>panot</title>
  </head>
  <body>
 
      <center>
    <a class="btn btn-light" href="/home" role="button">Home</a>
    <a class="btn btn-light" href="/explore" role="button">Explore</a>
    <a class="btn btn-light" href="/about" role="button">About Us</a>
    <a class="btn btn-light" href="/signup" role="button">Signup</a>
    <a class="btn btn-light" href="/login" role="button">Login</a>
    <hr>
   </center>
    <h1>swimming</h1><br>
   
    <img src="{% static 'hello.jpg' %}"><br>
    <a class="btn btn-info" href="/boracay" role="button">Book</a>
    <a class="btn btn-info" href="refresh" role="button">Refresh</a>
    <a class="btn btn-info" href="/palawan" role="button">Book</a>
    <a class="btn btn-info" href="refresh" role="button">Refresh</a>

    <h1>Hiking</h1><br>
    <a class="btn btn-info" href="apo.html" role="button">Book</a>
    <a class="btn btn-info" href="refresh" role="button">Refresh</a>
    <a class="btn btn-info" href="makiling.html" role="button">Book</a>
    <a class="btn btn-info" href="refresh" role="button">Refresh</a>
    
    <h1>Scenery</h1><br>
    <a class="btn btn-info" href="kalinga.html" role="button">Book</a>
    <a class="btn btn-info" href="refresh" role="button">Refresh</a>
    <a class="btn btn-info" href="terraces.html" role="button">Book</a>
    <a class="btn btn-info" href="refresh" role="button">Refresh</a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
    </html>